<!-- <div class="container-fluid">
    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-sm-12">
                <h1 class="text-center">About Us</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <p>Our Featured Work showcases some of our best projects and highlights our capabilities. Browse through
                    our
                    portfolio to see what we can do for you.</p>
            </div>
        </div>
    </div>
</div> -->

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-4">
            <img src="../../../../../assets/HomePage-images/KSTlogo.png" class="img-fluid" alt="...">
        </div>

        <div class="col-sm-6">
            <div class="card-body">
                <h4 class="card-title">About Us</h4>
                <h5 class="card-title">KS-Technologies</h5>
                <p class="card-text">KS-Technologies is a software development company. Our team of expert
                    developers are skilled in React JS, AWS, Angular, WordPress, Shopify, Block chain, Machine
                    Learning, PMO Department, Python with AI, Web3 Solidity and ROR, allowing us to develop software
                    for a variety of platforms and industries. We are dedicated to provide top-quality software
                    solutions to our clients, and we take pride in delivering software that meets and exceeds their
                    expectations.</p>
                <a href="#">Read More</a>
            </div>
        </div>
    </div>
</div>


<!-- <div class="card" style="max-width: 500px;">
        <div class="row g-0">
            <div class="col-sm-5">
                <img src="../../../../../assets/HomePage-images/KSTlogo.png" class="card-img-top h-100" alt="...">
            </div>
            <div class="col-sm-7">
                <div class="card-body">
                    <h5 class="card-title">About Us</h5>
                    <p class="card-text">KS-Technologies is a software development company. Our team of expert
                        developers are skilled in React JS, AWS, Angular, WordPress, Shopify, Block chain, Machine
                        Learning, PMO Department, Python with AI, Web3 Solidity and ROR, allowing us to develop software
                        for a variety of platforms and industries. We are dedicated to provide top-quality software
                        solutions to our clients, and we take pride in delivering software that meets and exceeds their
                        expectations.</p>
                    <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                </div>
            </div>
        </div>
    </div> -->