.container-fluid {
    background-color: var(--background-color);
    padding: 45px;
    display: flex;
    justify-content: center;
}

.card {
    background-color: var(--background-color);
    padding: 50px;
    max-width: 1000px;
    border: 2px solid var(--text-color);
    border-radius: 25px;
}

h4 {
    margin-top: 10px;
    color: var(--primary-color);
    font-size: 25px !important;
}

h5 {
    margin-top: 10px;
    color: var(--text-color);
    font-size: 35px;
}

p {
    margin-top: 10px;
    color: var(--text-color);
    text-align: justify;
    text-justify: inter-word;

}


.row {
    align-items: center !important;
    justify-content: center !important;
}

@media only screen and (min-width:200px) and (max-width:400px) {
    h4 {
        color: var(--primary-color);
        font-size: 10px !important;
    }

    h5 {
        color: var(--text-color);
        font-size: 20px;
    }

    .card-img-top{
        margin-left: 30px;
        height: 100px;
        width: 100px;
        padding: 0px;
    }

    p {
        color: var(--text-color);
        font-size: 7px;
    }

    .img-fluid {
        height: 80px;
        width: 80px;
    }
}

@media only screen and (min-width:401px) and (max-width: 576px) {
    h4 {
        color: var(--primary-color);
        font-size: 15px !important;
    }

    h5 {
        color: var(--text-color);
        font-size: 25px;
    }

    .card-img-top{
        margin-left: 30px;
        height: 150px;
        width: 150px;
        padding: 0px;
    }

    p {
        color: var(--text-color);
        font-size: 11px;
    }

    .img-fluid {
        height: 80px;
        width: 80px;
    }
}


@media only screen and (min-width:577px) and (max-width: 768px) {
    h4 {
        color: var(--primary-color);
        font-size: 17px !important;
    }

    h5 {
        color: var(--text-color);
        font-size: 29px;
    }

    p {
        color: var(--text-color);
        font-size: 12px;
    }

    .img-fluid {
        height: 120px;
        width: 120px;
    }
}

@media only screen and (min-width:769px) and (max-width: 1039px) {

    .img-fluid {
        height: 190px;
        width: 190px;
    }
}


@media only screen and (min-width:1040px) and (max-width: 1700px) {

    .img-fluid {
        height: 230px;
        width: 230px;
    }
}


@media only screen and (min-width:1700px) and (max-width: 2200px) {}