.container-fluid {
    background-color: #000112;
    padding: 25px;
    /* border: 2px solid #fff; */
}

h4 {
    margin-top: 10px;
    color: var(--primary-color);
    font-size: 25px !important;
}

h5 {
    margin-top: 10px;
    color: var(--text-color);
    font-size: 35px;
}

p {
    margin-top: 10px;
    color: var(--text-color);
    text-align: justify;
    text-justify: inter-word;
    
}

a {
    color: var(--primary-color);
    text-decoration: none;
    
}

.row {
    align-items: center !important;
    justify-content: center !important;
}

/* For x-small */
@media only screen and (min-width:200px) and (max-width:400px) {
    h4 {
        color: var(--primary-color);
        font-size: 15px !important;
    }

    h5 {
        color: var(--text-color);
        font-size: 25px;
    }

    p {
        color: var(--text-color);
        font-size: 11px;
    }

    .img-fluid {
        height: 80px;
        width: 80px;
    }
}


/* For small */
@media only screen and (min-width:401px) and (max-width: 576px) {
    h4 {
        color: var(--primary-color);
        font-size: 15px !important;
    }

    h5 {
        color: var(--text-color);
        font-size: 25px;
    }

    p {
        color: var(--text-color);
        font-size: 11px;
    }

    .img-fluid {
        height: 80px;
        width: 80px;
    }
}


/* For medium */
@media only screen and (min-width:577px) and (max-width: 768px) {
    h4 {
        color: var(--primary-color);
        font-size: 17px !important;
    }

    h5 {
        color: var(--text-color);
        font-size: 29px;
    }

    p {
        color: var(--text-color);
        font-size: 12px;
    }

    .img-fluid {
        height: 120px;
        width: 120px;
    }
}


/* For Large*/
@media only screen and (min-width:769px) and (max-width: 1039px) {
    
    .img-fluid {
        height: 190px;
        width: 190px;
    }
}


/* For x-Large*/
@media only screen and (min-width:1040px) and (max-width: 1700px) {
    
    .img-fluid {
        height: 230px;
        width: 230px;
    }
}


/* For x-x-Large*/
@media only screen and (min-width:1700px) and (max-width: 2200px) {}