.container-fluid {

    min-height: 95vh !important;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 95vh !important;
    align-items: center;
    background-image: url(../../../assets/about-us-images/landing-image.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

h1 {
    font-weight: 900;
}

.row.mt-4 {
    display: flex;
    justify-content: center;
}

.btn-primary {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-radius: 8px;
    border: none;
    width: 13%;
}

.btn-primary:hover {
    background-color: var(--primary-color);
}

.btn-secondary {
    background-color: rgb(219, 217, 217);
    color: black;
    border-radius: 8px;
    padding: 10px;
    width: 13%;
    margin-left: 15px;
    border: none !important;

}

.btn-secondary:hover {
    background-color: #5EBE80;
    color: #F2F2F2;

}


/* For x-small */
@media only screen and (min-width:200px) and (max-width:400px) {
    h1 {
        font-size: 20px;
    }

    h6 {
        font-size: 12px;
    }

    .btn-primary {
        width: 50px;
        height: 40px;
        margin: 0px !important;
        font-size: 10px;
    }

    .btn-secondary {
        width: 50px;
        height: 40px;
        margin: 0px !important;
        font-size: 10px;
        margin-left: 5px !important;
    }

    .container-fluid {
        min-height: 45vh !important;
    }
}


/* For small */
@media only screen and (min-width:401px) and (max-width: 576px) {
    h1 {
        font-size: 20px;
    }

    h6 {
        font-size: 13px;
    }

    .btn-primary {
        width: 50px;
        height: 40px;
        margin: 0px !important;
        font-size: 10px;
    }

    .btn-secondary {
        width: 50px;
        height: 40px;
        margin: 0px !important;
        font-size: 10px;
        margin-left: 5px !important;
    }

    .container-fluid {
        min-height: 55vh !important;
    }
}


/* For medium */
@media only screen and (min-width:577px) and (max-width: 768px) {
    h1 {
        font-size: 23px;
    }

    .btn-primary {
        width: 100px;
        margin: 0px !important;
        font-size: 13px;
    }

    .btn-secondary {
        width: 100px;
        margin: 0px !important;
        font-size: 13px;
        margin-left: 5px !important;
    }

    .container-fluid {
        min-height: 65vh !important;
    }
}


/* For Large*/
@media only screen and (min-width:769px) and (max-width: 1039px) {

    .container-fluid {
        min-height: 75vh !important;
    }
}


/* For x-Large*/
@media only screen and (min-width:1040px) and (max-width: 1700px) {}