<div class="container-fluid">
    <div class="row">
        <div class="offset-1 col-md-4">
            <h1>About Us.</h1>
        </div>
        <div class="row mt-4">
            <h6>Founded in 2021, KS-Technologies is a technology consulting company.<br> We are dedicated to provide
                top-quality software solutions to our clients,<br> and we take pride in delivering software that meets
                and
                exceeds their expectations.</h6>
        </div>
        <div class="row mt-4">
            <!-- <button type="button" class="btn btn-primary">Get Started</button>  -->
            <button type="button" class="btn btn-secondary">Get in Touch</button>
        </div>
    </div>
</div>