<div class="container-fluid">
    <div class="container ">
        <div class="row">
            <div class="col-md-12">
                <div class="text">
                    <h1>About Us</h1>
                </div>
            </div>
        </div>
    
        <div class="row mt-4">
            <div class="col-md-12">
                <p> KS-Technologies is a software development company. Our team of expert developers are skilled in React
                    JS,
                    AWS, Angular, WordPress, Shopify, Blockchain, Machine Learning, PMO Department, Python with AI, Web3
                    Solidity and ROR, allowing us to develop software for a variety of platforms and industries. We are
                    dedicated to provide
                    top-quality software solutions to our clients, and we take pride in delivering software that meets and
                    exceeds their expectations.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a routerLink="/privacy-policy" style="text-decoration: underline;" >Privacy Policy</a>
            </div>
        </div>
    </div>
</div>
