.text {
    color: #F2F2F2 !important;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 46px;
    margin-top: 30px;
}

.container-fluid {
    /* background-image: url(../../../.././../assets/our-services-images/3rdbg.png); */
    background-color: #000112;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.5px;
    text-align: justify;
    color: #F2F2F2 !important;
}

a {
    color: #29416F;
    font-size: 20px;
}

/* For x-small */
@media only screen and (min-width:200px) and (max-width:400px) {
    .text {
        font-size: 25px;
        margin-left: 20px;
    }

    p {
        margin-left: 20px;
        font-size: 12px;
    }

    a {
        font-size: 15px;
        margin-left: 20px;
    }

}


/* For small */
@media only screen and (min-width:401px) and (max-width: 576px) {
    .text {
        margin-left: 25px;
        font-size: 29px;
    }

    p {
        margin-left: 25px;
        font-size: 15px;
    }

    a {
        margin-left: 25px;
        font-size: 15px;
    }
}


/* For medium */
@media only screen and (min-width:577px) and (max-width: 768px) {
    .text {
        margin-left: 25px;
        font-size: 29px;
    }

    p {
        margin-left: 25px;
        font-size: 15px;
    }

    a {
        margin-left: 25px;
        font-size: 15px;
    }
}


/* For Large*/
@media only screen and (min-width:769px) and (max-width: 1039px) {}


/* For x-Large*/
@media only screen and (min-width:1040px) and (max-width: 1700px) {}


/* For x-x-Large*/
@media only screen and (min-width:1700px) and (max-width: 2200px) {}