<div class="container-fluid">
    <div>
        <h2 class="mb-5 text-center">Testimonials </h2>
    </div>
    <!-- Card-1 -->
    <div class="row row-cols-1 row-cols-md-3 mt-4 container mx-auto">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">My experience with ks-technologies has been great because of thier hard work
                        and
                        skills. They have covered so much in such a short time. Thank you for the services. I appreciate
                        your efforts.</p>
                    <div class="row">
                        <div class="col">
                            <img src="../../../../../assets/HomePage-images/roma.png" class="zoey-logo">
                        </div>
                        <div class="col">
                            <strong class="text">Roma Khan</strong>
                            <h6 class="text">CEO</h6>
                            <img src="../../../../../assets/HomePage-images/Zoey.svg" class="img-fluid">
                        </div>
                        <!-- <div class="col rating">
                            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Card-2 -->
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">I am blown away by the quality of service I received from Ks-technologies.
                        Their team was skilled, professional, and responsive to all of my requirments. They truly went
                        above
                        and beyond to ensure that my project was a success. I am so impressed with their software
                        services
                        and would recommend them to anyone looking for top-notch tech solutions.</p>
                    <div class="row">
                        <div class="col">
                            <img src="../../../../../assets/HomePage-images/KSD.png" class="ksd-logo">
                        </div>
                        <div class="col">
                            <strong class="text">Kashif Khalil</strong>
                            <h6 class="text">Co-Founder</h6>
                            <img src="../../../../../assets/HomePage-images/KSD.svg" class="img-fluid">
                        </div>
                        <!-- <div class="col rating">
                            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating>
                        </div> -->
                    </div>

                </div>
            </div>
        </div>
        <!-- Card-3 -->
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">It has completely streamlined my business operations and has saved me countless
                        hours of work. The team behind the software is incredibly talented. The software is
                        user-friendly
                        and has exceeded my expectations in every
                        way. Thank you for creating such a fantastic product!</p>
                    <div class="row">
                        <div class="col">
                            <img src="../../../../../assets/HomePage-images/enmass.png" class="enmass-logo">
                        </div>
                        <div class="col">
                            <strong class="text">Andrew Joiner</strong>
                            <h6 class="text">Co-Founder</h6>
                            <img src="../../../../../assets/HomePage-images/enmass.svg" class="img-fluid">
                        </div>
                        <!-- <div class="col rating">
                            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>