.container-fluid {
    /* background-image: url(../../../.././../assets/our-services-images/3rdbg.png); */
    background-color: #000112;
    padding: 25px;
}

.accordion-button {
    background-color: var(--background-color);
    color: #5EBE80;
}

.accordion-button::after {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.15px;
    transform: scale(.7) !important;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
}

.accordion-body {
    background-color: var(--background-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: var(--text-color);
    text-align: justify;
    text-transform: justify;

}

.accordion-item {
    background-color: #000112 !important;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.15px;
}

/* Accordians css end*/


/* For x-small */
@media only screen and (min-width:200px) and (max-width:400px) {}


/* For small */
@media only screen and (min-width:401px) and (max-width: 576px) {}


/* For medium */
@media only screen and (min-width:577px) and (max-width: 768px) {}


/* For Large*/
@media only screen and (min-width:769px) and (max-width: 1039px) {
    img {
        margin-left: 90px;
    }
}


/* For x-Large*/
@media only screen and (min-width:1040px) and (max-width: 1700px) {
    img {
        margin-left: 120px;
    }
}


/* For x-x-Large*/
@media only screen and (min-width:1700px) and (max-width: 2200px) {
    img {
        margin-left: 140px;
    }
}