<footer class="row row-cols-5 py-5 container-fluid mt-4">
    <div class="col container ">
        <a class="align-items-center">
            <img src="../../../assets/Footer-images/KSTLogo6.png" class="img-fluid" alt="image not found">
        </a>
    </div>
    <!-- Page Links -->
    <div class="col">
        <h5>Page Links</h5>
        <div class="menu">
            <ul class="nav flex-column menu-items">
                <li class="nav-item mb-2">
                    <div>
                        
                        <i class="fas fa-user"></i>

                        <a routerLink="home" routerLinkActive="active" ariaCurrentWhenActive="page" class="icon">
                            Home</a>
                    </div>
                </li>
                <li class="nav-item mb-2">
                    <div>
                        
                        <i class="fas fa-user"></i>

                        <a routerLink="about" routerLinkActive="active" ariaCurrentWhenActive="page" class="icon">
                            About</a>
                    </div>
                </li>
                <li class="nav-item mb-2">
                    <div>
                        
                        <i class="fas fa-user"></i>

                        <a routerLink="services" routerLinkActive="active" ariaCurrentWhenActive="page" class="icon">
                            Our Services</a>
                    </div>
                </li>
                <!-- <li class="nav-item mb-2">
                    <div>
                        
                        <i class="fas fa-user"></i>

                        <a routerLink="blog&news" routerLinkActive="active" ariaCurrentWhenActive="page"
                            class=" icon p-0"> Blog & News</a>
                    </div>
                </li> -->
                <li class="nav-item mb-2">
                    <div>
                        
                        <i class="fas fa-user"></i>

                        <a routerLink="portfolio" routerLinkActive="active" ariaCurrentWhenActive="page"
                            class=" icon p-0"> Portfolio</a>
                    </div>
                </li>
                <!-- <li class="nav-item mb-2">
                    <div>
                        
                        <i class="fas fa-user"></i>

                        <a routerLink="jobs" routerLinkActive="active" ariaCurrentWhenActive="page" class=" icon p-0">
                            Jobs</a>
                    </div>
                </li> -->
                <li class="nav-item mb-2">
                    <div>
                        
                        <i class="fas fa-user"></i>

                        <a routerLink="contact" routerLinkActive="active" ariaCurrentWhenActive="page"
                            class=" icon p-0"> Contact Us</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- Contact Info -->
    <div class="col">
        <h5>Contact Info</h5>
        <ul class="nav flex-column menu-items">
            <li class="nav-item mb-2">
                
                <i class="fas fa-user"></i>

                <a class=" icon p-0"> (042) 37862807
                </a>
            </li>
            <li class="nav-item mb-2">
                
                <i class="fas fa-user"></i>

                <a class="icon p-0"> info@ks-technologies.net
                </a>
            </li>
            <li class="nav-item mb-2">
                
                <i class="fas fa-user"></i>

                <a href="https://www.google.com/maps/place/Palm+Tower/@31.373147,74.184603,16z/data=!4m6!3m5!1s0x3918ff4f2f9ddbbf:0xb8a551d63acbc691!8m2!3d31.3731471!4d74.184603!16s%2Fg%2F11fm429q5q?hl=en"
                    class="icon p-0"> Palm Tower, Bahria Town
                </a>
            </li>
        </ul>
    </div>

    <!-- Social Media -->
    <div class="col">
        <h5>Social Media</h5>
        <ul class="nav flex-row iconss">
            <a href="https://www.facebook.com/profile.php?id=100090900587519" class="socialIcon">
                
                <i class="fas fa-user"></i>

            </a>
            <a href="https://www.instagram.com/kstechnologies_pk/" class="socialIcon">
                
                <i class="fas fa-user"></i>

            </a>
            <a href="https://www.linkedin.com/company/ks-techno/" class="socialIcon">
                
                <i class="fas fa-user"></i>

            </a>
        </ul>
    </div>
</footer>

<!-- Blue-container -->
<div class="container-fluid">
    <div class="row">
        <div class="text-center">
            <p>Copyright 2023 © All Right Reserved Design by KS-Technologies</p>
        </div>
        <!-- <div class="text-end">
            <a routerLink="privacy-policy">Privacy Policy</a>
        </div> -->
    </div>
</div>