<footer class="container-fluid mt-1">

    <a class="align-items-center">
        <img src="../../../assets/Common/Logofooter.png" class="img-fluid" alt="image not found">
    </a>

    <div class="row">
        <ul class="navbar navbar-expand-lg navbar-light ">
            <li class="nav-item">
                
                    <i class="fa fa-home fa-beat" aria-hidden="true"></i>
                    <a routerLink="home" routerLinkActive="active" ariaCurrentWhenActive="page" class="icon">
                        Home</a>
            </li>
            <li class="nav-item">
                <div>
                    <i class="fa fa-info-circle fa-beat" aria-hidden="true"></i>
                    <a routerLink="about" routerLinkActive="active" ariaCurrentWhenActive="page" class="icon">
                        About</a>
                </div>
            </li>
            <li class="nav-item">
                <div>
                    <i class="fas fa-briefcase fa-beat" aria-hidden="true"></i>
                    <a routerLink="our-service" routerLinkActive="active" ariaCurrentWhenActive="page" class="icon">
                        Our Services</a>
                </div>
            </li>
            <li class="nav-item">
                <div>
                    <i class="fa fa-pencil-square-o fa-beat" aria-hidden="true"></i>
                    <a routerLink="portfolio" routerLinkActive="active" ariaCurrentWhenActive="page" class=" icon p-0">
                        Portfolio</a>
                </div>
            </li>
            <li class="nav-item">
                <div>
                    <i class="fas fa-phone fa-beat" aria-hidden="true"></i>
                    <a routerLink="contact" routerLinkActive="active" ariaCurrentWhenActive="page" class=" icon p-0">
                        Contact Us</a>
                </div>
            </li>
        </ul>
    </div>
</footer>
<div class="container-fluid">
    <div class="row">
        <div class="text-center">
            <p>Copyright <span id="current-year" style="color: var(--primary-color);">{{getCurrentYear()}}</span> © All Right Reserved Design by <span style="color: var(--primary-color);">KS-Technoloogies</span></p>         
        </div>
    </div>
</div>