<footer class="ftr">
    <app-back-to-top></app-back-to-top>
    <a class="align-items-center">
        <img src="../../../assets/Common/Logofooter.png" class="img-fluid" alt="image not found">
    </a>

    <div class="row">
        <ul class="navbar navbar-expand-lg navbar-light ">
            <li class="nav-item">
                <div>
                    <i class="fas fa-map-marker icon" aria-hidden="true"></i>
                    <a class="des" href="https://www.google.com/maps/place/Palm+Tower/@31.373147,74.184603,16z/data=!4m6!3m5!1s0x3918ff4f2f9ddbbf:0xb8a551d63acbc691!8m2!3d31.3731471!4d74.184603!16s%2Fg%2F11fm429q5q?hl=en">
                        Address: Palm Tower Bahria Town, Lahore</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="row">
        <ul class="navbar navbar-expand-lg navbar-light ">
            <li class="nav-item">
                <div>
                    <i class="fas fa-phone icon" aria-hidden="true"></i>
                    <a routerLink="/contact" class="des">
                        Contact: 0322 5557771</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="row">
        <ul class="navbar navbar-expand-lg navbar-light">
            <a href="https://www.facebook.com/profile.php?id=100090900587519" class="socialIcon">
                <i class="fa fa-facebook-square icon" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/kstechnologies_pk/" class="socialIcon">
                <i class="fa fa-instagram icon" aria-hidden="true"></i>
            </a>
            <a href="https://www.linkedin.com/company/ks-techno/" class="socialIcon">
                <i class="fa fa-linkedin-square icon" aria-hidden="true"></i>
            </a>
        </ul>
    </div>
</footer>
<div class="container-fluid">
    <div class="row">
        <div class="text-center">
            <p>Copyright <span id="current-year" style="color: var(--primary-color);">{{currentYear}}</span> © All Right Reserved Design by <span style="color: var(--primary-color);">{{companyName}}</span></p>         
        </div>
    </div>
</div>