.ftr {
    background-color: var(--background-color);
    overflow: hidden !important;
    overflow-x: hidden;
    text-align: center;
    width: 100%;
}

.img-fluid {
    margin-top: 10px;
    height: auto;
    padding: 20px;
    width: auto;
}

.navbar {
    display: inline-flex;
    justify-content: center
}

.nav-item-icon .icon {
    height: 25px;
    width: 25px;
}

.nav-item {
    color: var(--primary-color);
    display: inline-block;
    margin-right: 20px;
}

footer {
    overflow-x: hidden !important;
}

.nav-item .des {
    font-weight: 600;
    text-decoration: none;
    font-size: 20px;
    padding-left: 10px;
    color: var(--text-color);
    cursor: pointer;
}

.nav-item .icon:hover {
    color: var(--primary-color);
}

.container-fluid {
    /* background-image: url(../../../../assets/About-us-images/landingImageaboutUs.png); */
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-top: 1px solid var(--text-color);
    background-color: var(--background-color);
    overflow: hidden !important;
    overflow-x: hidden;
    text-align: center;
    /* background: linear-gradient(to right, #000112 70%, #458b5e); */
}

.text-center {
    font-size: 15px;
    color: var(--text-color);
    margin-top: 18px;
}

.socialIcon:hover {
    cursor: pointer;
}

.socialIcon {
    color: var(--primary-color);
    padding: 10px;
    margin: 1px;
}

.socialIcon .icon {
    height: 20px;
    width: 20px;
}

/* For x-small */
@media only screen and (min-width:200px) and (max-width:400px) {
    .nav-item .icon {
        font-size: 13px;
    }

    .menu-items {
        font-size: 10px;
    }

    .socialIcon .icon {
        
        height: 13px;
        width: 13px;
    }

    .navbar-light{
        padding: 0px;
        margin: 0px;
    }

    .text-center {
        font-size: 10px;
    }
}

/* For small */
@media only screen and (min-width:401px) and (max-width: 576px) {
    .nav-item .icon {
        font-size: 17px;
    }

    .menu-items {
        font-size: 11px;
    }

    .navbar-light{
        padding: 5px;
        margin: 5px;
    }

    .socialIcon .icon {
        height: 15px;
        width: 15px;
    }

    .text-center {
        font-size: 12px;
    }

}


/* For medium */
@media only screen and (min-width:577px) and (max-width: 768px) {
    .navbar-light{
        padding: 5px;
        margin: 5px;
    }

}