<div class="container-fluid">
    <div class="container px-4 py-5" id="featured-3">
        <h2 class="mb-4 mt-4 text-center">Our Top Services</h2>
        <div class="row row-cols-1  row-cols-md-3 mt-4 container mx-auto">
            <!-- 1st Card -->
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="feature-icon">
                            <img src="../../../../../assets/our-services-images/uiux.svg" class="img-fluid"
                                alt="image error">
                        </div>
                        <h2>UI/UX Design</h2>
                        <p>We are designing digital products, such as websites, mobile apps, and software applications,
                            with
                            a focus on creating visually appealing, easy-to-use interfaces and optimizing the overall
                            user
                            experience.</p>
                    </div>
                </div>
            </div>
            <!-- 2nd Card -->
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="feature-icon">
                            <img src="../../../../../assets/our-services-images/WEBdev.svg" class="img-fluid"
                                alt="image error">
                        </div>
                        <h2>Web Development </h2>
                        <p>Front-end development using HTML, CSS, and JavaScript to create the visual and interactive
                            elements of a website. Back-end development using languages such as PHP, Python, or Ruby,
                            and
                            databases such as MySQL or MongoDB to create the server-side code that processes user
                            requests
                            and returns dynamic content. It includes website testing, optimization, and ongoing
                            maintenance
                            to ensure the website remains secure, responsive, and up-to-date with the latest
                            technologies.
                        </p>
                    </div>
                </div>
            </div>
            <!-- 3rd Card -->
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="feature-icon">
                            <img src="../../../../../assets/our-services-images/SEO.svg" class="img-fluid"
                                alt="image error">
                        </div>
                        <h2>SEO Services</h2>
                        <p>We are providing SEO services to improve the visibility and ranking of a website or web page
                            in
                            search engine results pages (SERPs). This involves optimizing the website's content,
                            structure,
                            and code to make it more search engine friendly and to increase the relevance and authority
                            of
                            the site in the eyes of search engines.</p>
                    </div>
                </div>
            </div>
        </div>
</div>