.card {
    border: none;
    background: linear-gradient(#5EBE80 0 0) no-repeat;
    background-color: #F2F2F2 !important;
    background-size: 100% 0%;
    background-position: 0% 100%;
    transition: .4s;
    border-radius: 8px;
    border-bottom: 10px solid #5EBE80;
}

.card:hover {
    background-color: #5EBE80 !important;
    color: #F2F2F2 !important;
    background-size: 100% 100%;
    transition: .4s;
    cursor: pointer;
}

.text-center {
    font-size: 40px;
}

h2 {
    margin-top: 10px;
}

p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card:hover img {
    filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(167deg) brightness(102%) contrast(255%);
}


/* For x-small */
@media only screen and (min-width:200px) and (max-width:400px) {
    .text-center {
        font-size: 25px;
    }

    h2 {
        font-size: 20px;
    }

    .img-fluid {
        width: 60px;
        height: 54px;
    }

    p {
        font-size: 13px;
    }
}


/* For small */
@media only screen and (min-width:401px) and (max-width: 576px) {
    .text-center {
        font-size: 27px;
        font-weight: 600px;
    }

    h2 {
        font-size: 20px;
    }

    .img-fluid {
        width: 60px;
        height: 54px;
    }

    p {
        font-size: 13px;
    }
}


/* For medium */
@media only screen and (min-width:577px) and (max-width: 768px) {
    .text-center {
        font-size: 29px;
        font-weight: 600px;
    }

    h2 {
        font-size: 20px;
    }

    .img-fluid {
        width: 60px;
        height: 60px;
    }

    p {
        font-size: 15px;
    }
}


/* For Large*/
@media only screen and (min-width:768px) and (max-width: 1039px) {
    .text-center {
        font-size: 27px;
        font-weight: 600px;
    }

    h2 {
        font-size: 17px;
    }

    .img-fluid {
        width: 60px;
        height: 54px;
    }

    p {
        font-size: 13px;
    }
}


/* For x-Large*/
@media only screen and (min-width:1040px) and (max-width: 1700px) {
    .text-center {
        font-size: 27px;
        font-weight: 600px;
    }

    h2 {
        font-size: 20px;
    }

    .img-fluid {
        width: 60px;
        height: 54px;
    }

    p {
        font-size: 13px;
    }
}


/* For x-x-Large*/
@media only screen and (min-width:1700px) and (max-width: 2200px) {
    h2 {
        font-size: 20px;
    }

}