<div class="container-fluid">
    <div class="container  px-4 py-5" id="featured-3">
        <h2 class="mb-4 mt-4 text-center">Services For Clients</h2>
        <div class="row row-cols-1  row-cols-md-3 mt-4 container mx-auto">
            <!-- 1st Card -->
            <div class="col mt-4 ">
                <div class="card">
                    <div class="card-body">
                        <div class="feature-icon">
                            <img src="../../../../../assets/our-services-images/uiux.svg" class="img-fluid"
                                alt="image error">
                        </div>
                        <h2>UI/UX Design</h2>
                        <p>We are designing digital products, such as websites, mobile apps, and software applications,
                            with
                            a focus on creating visually appealing, easy-to-use interfaces and optimizing the overall
                            user
                            experience.</p>
                    </div>
                </div>
            </div>
            <!-- 2nd Card -->
            <div class="col mt-4 ">
                <div class="card">
                    <div class="card-body">
                        <div class="feature-icon">
                            <img src="../../../../../assets/our-services-images/WEBdev.svg" class="img-fluid"
                                alt="image error">
                        </div>
                        <h2>Web Development </h2>
                        <p>Front-end development using HTML, CSS, and JavaScript to create the visual and interactive
                            elements of a website. Back-end development using languages such as PHP, Python, or Ruby,
                            and
                            databases such as MySQL or MongoDB to create the server-side code that processes user
                            requests
                            and returns dynamic content. It includes website testing, optimization, and ongoing
                            maintenance
                            to ensure the website remains secure, responsive, and up-to-date with the latest
                            technologies.
                        </p>
                    </div>
                </div>
            </div>
            <!-- 3rd Card -->
            <div class="col  mt-4">
                <div class="card">
                    <div class="card-body">
                        <div class="feature-icon">
                            <img src="../../../../../assets/our-services-images/SEO.svg" class="img-fluid"
                                alt="image error">
                        </div>
                        <h2>SEO Services</h2>
                        <p>We are providing SEO services to improve the visibility and ranking of a website or web page
                            in
                            search engine results pages (SERPs). This involves optimizing the website's content,
                            structure,
                            and code to make it more search engine friendly and to increase the relevance and authority
                            of
                            the site in the eyes of search engines.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 4th Card -->
        <div class="row row-cols-1  row-cols-md-3 mt-4 container mx-auto">
            <div class="col  mt-4">
                <div class="card">
                    <div class="card-body">
                        <div class="feature-icon">
                            <img src="../../../../../assets/our-services-images/blockchain.svg" class="img-fluid"
                                alt="blockchain-img">
                        </div>
                        <h2>BlockChain</h2>
                        <p>We use Block Chain technology to create a decentralized digital ledger that records
                            transactions
                            on a distributed network of computers, making it a secure and permanent record.</p>
                    </div>
                </div>
            </div>
            <!-- 5th Card -->
            <div class="col mt-4 ">
                <div class="card">
                    <div class="card-body">
                        <div class="feature-icon">
                            <img src="../../../../../assets/our-services-images/AI.svg" class="img-fluid"
                                alt="image error">
                        </div>
                        <h2>Artificial Inteligence</h2>
                        <p>We are using Machine Learning, Natural Language Processing, Predictive Analytics and
                            Cognitive
                            Computing techniques.</p>
                    </div>
                </div>
            </div>
            <!-- 6th Card -->
            <div class="col mt-4">
                <div class="card">
                    <div class="card-body">
                        <div class="feature-icon">
                            <img src="../../../../../assets/our-services-images/outsource.svg" class="img-fluid"
                                alt="image error">
                        </div>
                        <h2>Out Sourcing</h2>
                        <p>We hire external companies or individuals to perform certain tasks or services that would
                            otherwise be done in-house.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 7th Card -->
        <div class="row row-cols-1  row-cols-md-3 mt-4 container mx-auto">
            <div class="col mt-4">
                <div class="card">
                    <div class="card-body">
                        <div class="feature-icon">
                            <img src="../../../../../assets/our-services-images/customApp.svg" class="img-fluid"
                                alt="image error">
                        </div>
                        <h2>Custom App Development</h2>
                        <p>We develop custom applications that involves designing, developing, and deploying software
                            applications tailored to meet the specific needs and requirements of an individual or
                            organization. This process involves analyzing the client's business processes, identifying
                            their
                            unique challenges, and creating solutions to address them. Custom app development ensures
                            that
                            the software is built to fit the client's workflow, integrate with their existing systems,
                            and
                            provide a seamless user experience. It can be done for a variety of platforms, including
                            mobile,
                            web, desktop, and cloud-based applications.</p>
                    </div>
                </div>
            </div>
            <!-- 8th Card -->
            <div class="col  mt-4">
                <div class="card">
                    <div class="card-body">
                        <div class="feature-icon">
                            <img src="../../../../../assets/our-services-images/mobile.svg" class="img-fluid"
                                alt="image error">
                        </div>
                        <h2>Mobile App Development</h2>
                        <p>We develop mobile applications i.e. iOS, android and hybrid.Which includes idea generation,
                            research and planning, design and prototyping, development, testing and maintenance.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>