.container-fluid.main {
    width: 100%;
    height: auto;
    /* background-image: url(../../../../assets/Common/gridBackground1.png);
    background-size: cover;
    background-position:bottom; */
    overflow: hidden;
    background-color: var(--background-color);
}

.navbar-brand img {
    height: 80px;
    width: 70px;
    margin-left: 60px;
    margin-top: 10px;
}

.navbar-toggler {
    background-color: var(--navbar-btn-color);

}
 
.navbar-toggler .fa-bars{
    color: var(--text-color);
}

.navbar-toggler:hover {
    border: 2px solid var(--text-color);
    transition: 0.5s;
    box-shadow: var(--btn-shadow-hover);
}

.logo {
    animation: spin 5s linear infinite;
}

/* @keyframes spin {
    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(180deg);
        content: url('../../../../assets/Common/logo2.png');
    }

    100% {
        transform: rotateY(360deg);
        content: url('../../../../assets/Common/logo.png');
    }
} */


.navbar-nav {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.navbar-nav .nav-link {
    font-weight: 500;
    font-size: 18px;
    color: var(--text-color);
}

.nav-item {
    margin: 5px !important;
}

.nav-link.active.active-link {
    color: var(--primary-color);
    font-weight: bold;
}

.container-fluid.mt-2 {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 95vh !important;
    align-items: center;
    overflow: hidden;
}

@media only screen and (min-width:200px) and (max-width:400px) {
    .btn-primary {
        width: 70px;
        height: 50px;
        font-size: 10px;
    }

    .navbar-brand img {
        width: 60px;
        height: 70px;
        margin-left: 10px;
    }
}

@media only screen and (min-width:401px) and (max-width: 576px) {
    .btn-primary {
        width: 65px;
        height: 75x;
        font-size: 10px;
    }

    .navbar-brand img {
        width: 65px;
        height: 75px;
        margin-left: 38px;
    }
}

@media only screen and (min-width:577px) and (max-width: 768px) {
    .btn-primary {
        width: 65px;
        height: 75px;
        font-size: 11px;
    }

    .navbar-brand img {
        width: 68px;
        height: 78px;
        margin-left: 48px;
    }
}

@media only screen and (min-width:769px) and (max-width: 1039px) {
    .navbar-brand img {
        height: 80px;
        width: 70px;
        margin-left: 58px;
    }
}

@media only screen and (min-width:1040px) and (max-width: 1700px) {
    .navbar-brand img {
        height: 80px;
        width: 70px;
        margin-left: 58px;
    }
}