<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
      <a class="navbar-brand" href=""><img src="../../../../assets/Common/logo.png" class="logo"
          alt="KS-Tech*"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="home" routerLinkActive="active-link"
              ariaCurrentWhenActive="page">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="about" routerLinkActive="active-link"
              ariaCurrentWhenActive="page">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="our-service" routerLinkActive="active-link"
              ariaCurrentWhenActive="page">Our Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="portfolio" routerLinkActive="active-link"
              ariaCurrentWhenActive="page">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="blog" routerLinkActive="active-link"
              ariaCurrentWhenActive="page">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="jobs" routerLinkActive="active-link"
              ariaCurrentWhenActive="page">Jobs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="contact" routerLinkActive="active-link"
              ariaCurrentWhenActive="page">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>