.row {
    background-color: var(--background-color);
    /* margin-left: 40px; */
    /*display: flex; */
}

.btn-primary {
    background: #29416F;
    border-radius: 8px;
    color: white;

}

.btn-primary:hover {
    background-color: #5EBE80;
    border: none;
}

.form-control {
    border-left: none;
    border-right: none;
    background-color: var(--background-color);
    color: #fff;
}

.input-group-text {
    background-color: var(--background-color);
    color: #fff;
}

/* For x-small */
@media only screen and (min-width:200px) and (max-width:400px) {
    .input-group {
        margin-block-start: 0 !important;
        align-items: center !important;
        width: 257px;
    }
    .form-control {
        margin: auto !important;
        align-items: center !important;
    }

    .btn-primary {
        margin: auto !important;
        display: flex !important;
        align-items: center !important;
    }
}

@media only screen and (min-width:401px) and (max-width: 451px) {
    .input-group {
        margin: auto !important;
        align-items: center !important;
        width: 350px;

    }

    .form-control {
        margin: auto !important;
        align-items: center !important;
    }

    .btn-primary {
        margin: auto !important;
        display: flex !important;
        align-items: center !important;
    }
}

/* For small */
@media only screen and (min-width:452px) and (max-width: 576px) {
    .input-group {
        margin: auto !important;
        align-items: center !important;
        width: 400px;
    }

    .form-control {
        margin: auto !important;
        align-items: center !important;
    }

    .btn-primary {
        margin: auto !important;
        display: flex !important;
        align-items: center !important;
    }
}

/* For medium */
@media only screen and (min-width:577px) and (max-width: 767px) {
    .input-group {
        margin: auto !important;
        align-items: center !important;
        width: 450px;

    }

    .form-control {
        margin: auto !important;
        align-items: center !important;
    }

    .btn-primary {
        margin: auto !important;
        display: flex !important;
        align-items: center !important;
    }

}


/* For Large*/
@media only screen and (min-width:768px) and (max-width: 1039px) {
    .input-group {
        /* margin: auto !important; */
        align-items: center !important;
        width: 190px;

    }

    .form-control {
        /* margin: auto !important; */
        align-items: center !important;
    }


}


/* For x-Large*/
@media only screen and (min-width:1040px) and (max-width: 1274px) {
    .input-group {

        width: 260px;
    }




}

@media only screen and (min-width:1275px) and (max-width: 1600px) {
    .input-group {

        width: 320px;
    }


}

/* For x-x-Large*/
@media only screen and (min-width:1601px) and (max-width: 2000px) {

    .input-group {

        width: 390px;
    }



}