<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mb-5 order-md-1 order-1">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Contact Us</h1>
                    <h6 class="card-subtitle mb-3">We appreciate your interest and would love to hear from you. If you
                        have any questions, comments, or feedback, please do not hesitate to reach out to us using the
                        form below. We will get back to you as soon as possible.</h6>
                    <button type="button" routerLink="/contact" routerLinkActive="active-link"
                        class="btn btn-secondary">Get in Touch</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5 order-md-2 order-2 p-2 logo">
            <div class="text-center">
                <img src="../../../../../assets/About-us-images/landingPage-LOGO.png" class="float-center"
                    alt="KST-Logo">
            </div>
        </div>
    </div>
</div>