<div class="container-fluid">
    <div class="row">
        <div class="text-center">
            <h5>Get Latest Updates</h5>
        </div>
    </div>
    <div class="row">
        <div class="text-center">
            <h2>Subscribe For Newsletter</h2>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-8 mt-4">
            <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
                <div class="input-group mb-3">
                    <input class="input-feild" type="email" class="form-control" id="email" name="email" formControlName="email"
                        placeholder="demo@example.com" aria-label="Recipient's username" required
                        [ngClass]="{'input-error': emailForm.get('email')?.invalid && (emailForm.get('email')?.dirty || emailForm.get('email')?.touched)}">
                    <!-- <div *ngIf="emailForm.get('email')?.invalid && (emailForm.get('email')?.dirty || emailForm.get('email')?.touched)"
                        class="text-danger"></div> -->


                    <button type="submit" class="btn btn-primary" [disabled]="emailForm.invalid">Subscribe</button>

                </div>
                <div class="error"
                    *ngIf="emailForm.get('email')?.invalid && (emailForm.get('email')?.dirty || emailForm.get('email')?.touched)">
                    <div class="text-danger" *ngIf="emailForm.get('email')?.errors?.['required']">*required feild</div>
                    <div class="text-danger" *ngIf="emailForm.get('email')?.errors?.['email']">*invalid format</div>
                </div>
            </form>
            <div class="res">
                <h5 class="msg">{{message}}</h5>
            </div>
        </div>
    </div>
    <br />
    <br />
</div>