<div class="container-fluid">
  <div class="row">

    <div class="col-md-2 col-sm-4  brand-logos">
      <img src="../../../../../assets//About-us-images/White client logo/Zwhite.svg" class="zoey-logo" alt="zoeyLogo">
    </div>
    <div class="col-md-2 col-sm-4 brand-logos">
      <img src="../../../../../assets//About-us-images/White client logo/Jihaan-w.svg" class="jihaan-logo"
        alt="Jihaan Clothing">
    </div>
    <div class="col-md-2 col-sm-4 brand-logos">
      <img src="../../../../../assets//About-us-images/White client logo/palmvilla.svg" class="palm-villas-logo"
        alt="palm Villas">
    </div>
    <div class="col-md-2 col-sm-4 brand-logos">
      <img src="../../../../../assets//About-us-images/White client logo/mvintage.svg" class="mintage-logo"
        alt="Mintage">
    </div>
    <div class="col-md-2 col-sm-4 brand-logos">
      <img src="../../../../../assets//About-us-images/White client logo/enmass.svg" class="enmas-logo"
        alt="EnMass Energy">
    </div>
    <div class="col-md-2 col-sm-4 brand-logos">
      <img src="../../../../../assets//About-us-images/White client logo/KSDwhitelogo.svg" class="ksd-logo"
        alt="khalil Sons Developers">
    </div>
  </div>
</div>
<!-- <ngb-carousel [interval]="0" data-ride="carousel">
  <div class="carousel-inner" data-wrap="false">
    <ng-template>
      <img src="../../../../../assets//About-us-images/White client logo/Zwhite.svg" height="55px">
    </ng-template>
    <ng-template>
      <img src="../../../../../assets//About-us-images/White client logo/Jihaan-w.svg" height="55px">
    </ng-template>
    <ng-template>
      <img src="../../../../../assets//About-us-images/White client logo/palmvilla.svg" height="55px">
    </ng-template>
    <ng-template>
      <img src="../../../../../assets//About-us-images/White client logo/mvintage.svg" height="55px">
    </ng-template>
    <ng-template>
      <img src="../../../../../assets//About-us-images/White client logo/enmass.svg" height="55px">
    </ng-template>
    <ng-template>
      <img src="../../../../../assets//About-us-images/White client logo/KSDwhitelogo.svg" height="55px">
    </ng-template>
  </div>
  <button class="carousel-control-prev" data-slide="prev"></button>
  <button class="carousel-control-next" data-slide="next"></button>
</ngb-carousel> -->
