<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mb-5 order-md-1 order-1">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Our Services</h1>
                    <h6 class="card-subtitle mb-3">We are dedicated to provide top-quality software solutions to our
                        clients, and we take pride in delivering software that meets and exceeds their expectations."
                        "We strive to stay on top of the latest trends and technologies to provide our clients with
                        cutting-edge software solutions.</h6>
                    <button type="button" routerLink="/contact" routerLinkActive="active-link"
                        class="btn btn-secondary">Get in Touch</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5 order-md-2 order-2 p-2 logo">
            <div class="text-center">
                <img src="../../../../../assets/About-us-images/landingPage-LOGO.png" class="float-center"
                    alt="KST-Logo">
            </div>
        </div>
    </div>
</div>