<div class="container-fluid">
    <div class="row">
        <div class="text-center">
            <h5>Get Latest Updates</h5>
        </div>
    </div>
    <div class="row">
        <div class="text-center">
            <h2>Subscribe For Newsletter</h2>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-8 mt-4">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="demo@example.com"
                    aria-label="Recipient's username">
                <button class="btn btn-primary" type="button">Subscribe</button>
            </div>
        </div>
    </div>
    <br/>
    <br/>
</div>
