<div class="container-fluid">
    <div class="row">
        <div class="text-center">
            <h3>Meet Expert Team</h3>
        </div>
    </div>
    <div class="row">
        <div class="text-center">
            <h6>Meet Expert Team is a team of highly skilled professionals with <br> years of experience in their
                respective
                fields. They are <br> dedicated to providing top-notch solutions to their clients.</h6>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-3 col-sm-6">
            <div class="card">
                <img src="../../../../../assets/About-us-images/Alex James.png" class="img-fluid" alt="image not found">
                <div class="text">
                    <h5>Abdur Rehman</h5>
                    <h6>Graphic & UI/UX Designer</h6>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card">
                <img src="../../../../../assets/About-us-images/Jhon.png" class="img-fluid" alt="Image not found">
                <div class="text">
                    <h5>Asrar Ahmed</h5>
                    <h6>Web Developer</h6>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card">
                <img src="../../../../../assets/About-us-images/Jonathan.png" class="img-fluid" alt="Image not found">
                <div class="text">
                    <h5>Furqan Bhatti</h5>
                    <h6>Director of Operations</h6>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card">
                <img src="../../../../../assets/About-us-images/William.png" class="img-fluid" alt="Image not found">
                <div class="text">
                    <h5>Asnan Akber</h5>
                    <h6>Software Engineer</h6>
                </div>
               
            </div>
        </div>
    </div>
</div>