<!-- <div class="row mt-4">
    <div class="col text">
        <h3>Meet Expert Team</h3>
    </div>
</div>
<div class="row">
    <div class="col secondary">
        <h6>Morbi enim ipsum, sodales eget neque in, finibus maximus nibh.<br> Donec iaculis dolor at enim dictum, ac
            vestibulum turpis<br> sodales. Vivamus ipsum mauris.</h6>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-2">
        <div class="card">
            <img src="../../../../assets/AboutUs-images/Rectangle 33.png" class="img-fluid" alt="image not found">
        </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <img src="../../../../assets/AboutUs-images/Rectangle 34.png" class="img-fluid" alt="Image not found">
        </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <img src="../../../../assets/AboutUs-images/Rectangle 36.png" class="img-fluid" alt="Image not found">
        </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <img src="../../../../assets/AboutUs-images/Rectangle 36.png" class="img-fluid" alt="Image not found">
        </div>
    </div>
</div>  -->
<div class="container-fluid">
    <div class="row mt-4">
      <div class="col text">
        <h3>Meet Expert Team</h3>
      </div>
    </div>
    <div class="row">
      <div class="col secondary">
        <h6>Morbi enim ipsum, sodales eget neque in, finibus maximus nibh.<br> Donec iaculis dolor at enim dictum, ac
          vestibulum turpis<br> sodales. Vivamus ipsum mauris.</h6>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-3 col-sm-6">
        <div class="card">
          <img src="../../../../../assets/About-us-images/Alex James.png" class="img-fluid" alt="image not found">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card">
          <img src="../../../../../assets/About-us-images/Jhon.png" class="img-fluid" alt="Image not found">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card">
          <img src="../../../../assets/AboutUs-images/Rectangle 36.png" class="img-fluid" alt="Image not found">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card">
          <img src="../../../../assets/AboutUs-images/Rectangle 36.png" class="img-fluid" alt="Image not found">
        </div>
      </div>
    </div>
  </div>
  