<div class="container-fluid">
    <!-- <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-sm-12">
                <h1 class="text-center">Our Featured Work</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <p>Our Featured Work showcases some of our best projects and highlights our capabilities. Browse through our portfolio to see what we can do for you.</p> -->
    <div class="container mt-5 mb-5">
        <div class="row row-cols-2 ">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <h2 class="title">Featured Work</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <p class="text">We strive to stay on top of the latest trends and technologies to provide
                                our clients
                                with cutting-edge software solutions.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section id="slider">
        <input type="radio" name="slider" id="s1">
        <input type="radio" name="slider" id="s2">
        <input type="radio" name="slider" id="s3" checked>
        <input type="radio" name="slider" id="s4">
        <input type="radio" name="slider" id="s5">
        <label for="s1" id="slide1"><img src="../../../../assets/Portfolio-images/caraouselImages/1.png"
                class="img-fluid"><span>Zoey Template</span></label>
        <label for="s2" id="slide2"><img src="../../../../assets/Portfolio-images/caraouselImages/2.png"
                class="img-fluid"><span>Jihaan Clothing</span></label>
        <label for="s3" id="slide3"><img src="../../../../assets/Portfolio-images/caraouselImages/3.png"
                class="img-fluid"><span>Palm Villas</span></label>
        <label for="s4" id="slide4"><img src="../../../../assets/Portfolio-images/caraouselImages/4.png"
                class="img-fluid"><span>ERP</span></label>
        <label for="s5" id="slide5"><img src="../../../../assets/Portfolio-images/caraouselImages/5.png"
                class="img-fluid"><span>Mvintage</span></label>
    </section>
</div>