.container-fluid {
  background-color: #000112;
  padding: 20px;
}

.paragrapgh {
  color: var(--text-color);
  align-items: center;
  width: 40%;
  padding-bottom: 50px;
}

h1 {
  color: var(--primary-color);
  padding-bottom: 10px;
}

[type=radio] {
  display: none;

}

.card {
  margin-top: 10;
  border: none;
  width: 75%;
  background-color: #000112;
}

#slider {
  height: 39vw;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

#slider label span {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 210px;
  border: 1px solid var(--text-color);
  border-radius: 15px;
  transform: translateX(-50%);
  background-color: var(--primary-color);
  color: var(--text-color);
  margin-top: 10px;
  padding: 3px;
  font-family: 'Outfit';
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}


#slider label {
  margin: auto;
  width: 60%;
  height: 100%;
  border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
}

#s1:checked~#slide4,
#s2:checked~#slide5,
#s3:checked~#slide1,
#s4:checked~#slide2,
#s5:checked~#slide3 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
  transform: translate3d(-30%, 0, -200px);
}

.img-fluid {
  width: 100% !important;

}

#s1:checked~#slide5,
#s2:checked~#slide1,
#s3:checked~#slide2,
#s4:checked~#slide3,
#s5:checked~#slide4 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
  transform: translate3d(-15%, 0, -100px);
}

#s1:checked~#slide1,
#s2:checked~#slide2,
#s3:checked~#slide3,
#s4:checked~#slide4,
#s5:checked~#slide5 {
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0, 0, 0, .19);
  transform: translate3d(0, 0, 0);
}

#s1:checked~#slide2,
#s2:checked~#slide3,
#s3:checked~#slide4,
#s4:checked~#slide5,
#s5:checked~#slide1 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
  transform: translate3d(15%, 0, -100px);
}

#s1:checked~#slide3,
#s2:checked~#slide4,
#s3:checked~#slide5,
#s4:checked~#slide1,
#s5:checked~#slide2 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
  transform: translate3d(30%, 0, -200px);
}

//   #slide1 { background: #00BCD4 }
//   #slide2 { background: #4CAF50 }
//   #slide3 { background: #CDDC39 }
//   #slide4 { background: #FFC107 }
//   #slide5 { background: #FF5722 }



/* For x-small */
@media only screen and (min-width:200px) and (max-width:400px) {
  p {
    font-size: 11px;
  }

  #slider label span {
    width: 100px;
    font-size: 13px;
    padding: 0;
  }

  h1 {
    font-size: 14px;
  }
}


/* For small */
@media only screen and (min-width:401px) and (max-width: 576px) {
  p {
    font-size: 12px;
  }

  #slider label span {
    width: 130px;
    font-size: 15px;
    padding: 0;
  }

  h1 {
    font-size: 16px;
  }
}