.container-fluid {
    background-color: var(--secondary-color);
    padding: 35px;
    overflow: hidden;
}

.row {
    align-items: center;
}

.brand-logos img {
    height: 55px;
    max-width: 150px;
    cursor: pointer;
    margin-bottom: 8px;
}

.jihaan-logo {
    max-width: 95px !important;
}

.ksd-logo {
    max-width: 60px !important;
}

.brand-logos .zoey-logo:hover {
    filter: invert(13%) sepia(94%) saturate(7466%) hue-rotate(0deg) brightness(94%) contrast(115%);
}

.brand-logos .jihaan-logo:hover {
    filter: invert(98%) saturate(766%) brightness(133%) contrast(70%);
}

.brand-logos .palm-villas-logo:hover {
    filter: invert(46%) sepia(95%) saturate(346%) hue-rotate(103deg) brightness(97%) contrast(97%);
}

.brand-logos .enmas-logo:hover {
    filter: invert(15%) sepia(98%) saturate(3449%) hue-rotate(168deg) brightness(95%) contrast(102%);
}

.brand-logos .mintage-logo:hover {
    filter: invert(8%) sepia(12%) saturate(375%) hue-rotate(295deg) brightness(99%) contrast(89%);
}

.brand-logos .ksd-logo:hover {
    filter: invert(77%) sepia(46%) saturate(1856%) hue-rotate(1deg) brightness(108%) contrast(104%);
}
@media (max-width: 575.98px) {
    .brand-logos {
      text-align: center;
      margin-bottom: 1rem;
    }
  }
  
  @media (min-width: 576px) {
    .brand-logos {
      text-align: center;
    }
  }
  
  @media (min-width: 768px) {
    .brand-logos {
      text-align: center;
    }
  }
  
  @media (min-width: 992px) {
    .brand-logos {
      text-align: center;
    }
  }
  
  @media (min-width: 1200px) {
    .brand-logos {
      text-align: center;
    }
  }
  
  .brand-logos img {
    width: 100%;
    max-width: 150px;
    height: auto;
  }