<div class="slider">
  <div class="slide-track">
    <div class="slide">
      <img [src]="images[0]" height="100" width="250" alt="Enmass Energy" />
    </div>
    <div class="slide">
      <img [src]="images[1]" height="100" width="250" alt="Inglewood" />
    </div>
    <div class="slide">
      <img [src]="images[2]" height="100" width="250" alt="M Vintage" />
    </div>
    <div class="slide">
      <img [src]="images[3]" height="100" width="250" alt="Jihaan clothing" />
    </div>
    <div class="slide">
      <img [src]="images[4]" height="100" width="250" alt="Palm Villas" />
    </div>
    <div class="slide">
      <img [src]="images[5]" height="100" width="250" alt="Zoey Template" />
    </div>
    <div class="slide">
      <img [src]="images[0]" height="100" width="250" alt="Enmass Energy" />
    </div>
    <div class="slide">
      <img [src]="images[1]" height="100" width="250" alt="Inglewood" />
    </div>
    <div class="slide">
      <img [src]="images[2]" height="100" width="250" alt="M Vintage" />
    </div>
    <div class="slide">
      <img [src]="images[3]" height="100" width="250" alt="Jihaan clothing" />
    </div>
    <div class="slide">
      <img [src]="images[4]" height="100" width="250" alt="Palm Villas" />
    </div>
    <div class="slide">
      <img [src]="images[5]" height="100" width="250" alt="Zoey Template" />
    </div>
    <div class="slide">
      <img [src]="images[0]" height="100" width="250" alt="Enmass Energy" />
    </div>
    <div class="slide">
      <img [src]="images[1]" height="100" width="250" alt="Inglewood" />
    </div>
    <div class="slide">
      <img [src]="images[2]" height="100" width="250" alt="M Vintage" />
    </div>
    <div class="slide">
      <img [src]="images[3]" height="100" width="250" alt="Jihaan clothing" />
    </div>
    <div class="slide">
      <img [src]="images[4]" height="100" width="250" alt="Palm Villas" />
    </div>
    <div class="slide">
      <img [src]="images[5]" height="100" width="250" alt="Zoey Template" />
    </div>
  </div>
</div>