<app-blog-landing-page></app-blog-landing-page>
<app-brands></app-brands>
<div class="container-fluid">
    <h2 class="text-center">Our Latest Blog & News</h2>
    <!-- Card 1 -->
    <div class="row row-cols-1  row-cols-md-3 mt-4 container mx-auto">
        <div class="card">
            <img src="../../../../assets/Blog Images/1.png" class="card-img-top" alt="image-not-found">
            <div class="card-body">
                <h5 class="card-title">Development</h5>
                <p class="card-text">The top 7 development trends for 2023</p>
            </div>
            <div class="card-footer">
                <small class="author">By Abdul Rehman</small>
                <small class="text-muted">Jan 31, 2023</small>
            </div>
        </div>
        <!-- Card 2 -->
        <div class="card">
            <img src="../../../../assets/Blog Images/2.png" class="card-img-top" alt="image-not-found">
            <div class="card-body">
                <h5 class="card-title">UI/UX Design</h5>
                <p class="card-text">The top 7 UI/UX Design trends for 2023</p>
            </div>
            <div class="card-footer">
                <small class="author">By Abdul Rehman</small>
                <small class="text-muted">Jan 31, 2023</small>
            </div>
        </div>
        <!-- Card 3 -->
        <div class="card">
            <img src="../../../../assets/Blog Images/3.png" class="card-img-top" alt="image-not-found">
            <div class="card-body">
                <h5 class="card-title">SEO & SEM</h5>
                <p class="card-text">The top 7 SEO & SEM trends for 2023</p>
            </div>
            <div class="card-footer">
                <small class="author">By Abdul Rehman</small>
                <small class="text-muted">Jan 31, 2023</small>
            </div>
        </div>
    </div>
    <!-- Card 4 -->
    <div class="row row-cols-1  row-cols-md-3 mt-4 container mx-auto">
        <div class="card">
            <img src="../../../../assets/Blog Images/4.png" class="card-img-top" alt="image-not-found">
            <div class="card-body">
                <h5 class="card-title">Development</h5>
                <p class="card-text">The top 7 development trends for 2023</p>
            </div>
            <div class="card-footer">
                <small class="author">By Abdul Rehman</small>
                <small class="text-muted">Jan 31, 2023</small>
            </div>
        </div>
        <!-- Card 5 -->
        <div class="card ">
            <img src="../../../../assets/Blog Images/5.png" class="card-img-top" alt="image-not-found">
            <div class="card-body">
                <h5 class="card-title">UI/UX Design</h5>
                <p class="card-text">The top 7 UI/UX Design trends for 2023</p>
            </div>
            <div class="card-footer">
                <small class="author">By Abdul Rehman</small>
                <small class="text-muted">Jan 31, 2023</small>
            </div>
        </div>
        <!-- Card 6 -->
        <div class="card">
            <img src="../../../../assets/Blog Images/6.png" class="card-img-top" alt="image-not-found">
            <div class="card-body">
                <h5 class="card-title">SEO & SEM</h5>
                <p class="card-text">The top 7 SEO & SEM trends for 2023</p>
            </div>
            <div class="card-footer">
                <small class="author">By Abdul Rehman</small>
                <small class="text-muted">Jan 31, 2023</small>
            </div>
        </div>
    </div>
    <!-- Card 7 -->
    <div class="row row-cols-1  row-cols-md-3 mt-4 container mx-auto">
        <div class="card">
            <img src="../../../../assets/Blog Images/7.png" class="card-img-top" alt="image-not-found">
            <div class="card-body">
                <h5 class="card-title">Development</h5>
                <p class="card-text">The top 7 development trends for 2023</p>
            </div>
            <div class="card-footer">
                <small class="author">By Abdul Rehman</small>
                <small class="text-muted">Jan 31, 2023</small>
            </div>
        </div>
        <!-- Card 8 -->
        <div class="card">
            <img src="../../../../assets/Blog Images/8.png" class="card-img-top" alt="image-not-found">
            <div class="card-body">
                <h5 class="card-title">UI/UX Design</h5>
                <p class="card-text">The top 7 UI/UX Design trends for 2023</p>
            </div>
            <div class="card-footer">
                <small class="author">By Abdul Rehman</small>
                <small class="text-muted">Jan 31, 2023</small>
            </div>
        </div>
        <!-- Card 9 -->
        <div class="card">
            <img src="../../../../assets/Blog Images/9.png" class="card-img-top" alt="image-not-found">
            <div class="card-body">
                <h5 class="card-title">SEO & SEM</h5>
                <p class="card-text">The top 7 SEO & SEM trends for 2023.</p>
            </div>
            <div class="card-footer">
                <small class="author">By Abdul Rehman</small>
                <small class="text-muted">Jan 31, 2023</small>
            </div>
        </div>
    </div>
</div>

<app-news-email></app-news-email>