<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 order-md-1 order-1">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title"><span style="color: #5EBE80;">KS-TECHNOLOGIES</span> is a Perfect Solutions
                        For your Business.</h1>
                        <h6 class="card-subtitle mb-3">A Software development company devoted to your project's success
                            which accelerate your digital growth with our solutions.</h6>
                    <button type="button" routerLink="/contact" routerLinkActive="active-link"
                        ariaCurrentWhenActive="page" class="btn btn-secondary">Get in Touch</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 order-md-2 mb-4 order-2 p-2 logo">
            <div class="text-center">
                <img src="../../../../../assets/About-us-images/landingPage-LOGO.png" class="float-center"
                    alt="KST-Logo">
            </div>
        </div>
    </div>
</div>

  