<app-landing-page></app-landing-page>
<app-brands></app-brands>
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-sm-12">
            <h1 class="text-center">Our Featured Work</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <p>Our featured work is a showcase of some of our most successful and impactful projects.
                Each project represents our commitment to providing exceptional service and delivering high-quality
                results for our clients.</p>
        </div>
    </div>
</div>

<app-carosel></app-carosel>
<app-card-about-us></app-card-about-us>
<app-top-services></app-top-services>
<app-testimonials></app-testimonials>