.container-fluid {
    display: flex;
    /* justify-content: center; */
    width: 100%;
    min-height: 95vh !important;
    align-items: center;
    background-image: url(../../../../../assets/About-us-images/landingImageaboutUs.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

h1 {
    font-weight: 800;
    font-size: 35px;
    color: white;
    margin-left: 20px;
}

h6 {
    color: white;
    font-size: 15px;
    margin-left: 20px;
}

.btn-secondary {
    border: 2px solid #ffffff !important;
    background-color: transparent;
    color: white;
    border-radius: 10px 100px / 120px;
    padding: 10px;
    width: 22%;
    margin-left: 20px;
}

.btn-secondary:hover {
    background-color: #5EBE80;
    color: #F2F2F2;

}

.float-end {
    max-width: 100%;
}

@media only screen and (max-width: 768px) {
    .float-end {
        max-width: 50%;
    }
}

/* For x-small */
@media only screen and (min-width:200px) and (max-width:400px) {
    h1 {
        font-size: 15px !important;
    }

    h6 {
        font-size: 8px !important;
    }

    .btn-secondary {
        width: 50px;
        height: 40px;
        margin: 0px !important;
        font-size: 8px;
        margin-left: 28px !important;
    }

    .container-fluid {
        min-height: 45vh !important;
    }
}


/* For small */
@media only screen and (min-width:401px) and (max-width: 576px) {
    h1 {
        font-size: 20px;
    }

    h6 {
        font-size: 11px !important;
    }

    .btn-secondary {
        width: 50px;
        height: 40px;
        margin: 0px !important;
        font-size: 8px;
        margin-left: 28px !important;
    }

    .container-fluid {
        min-height: 55vh !important;
    }
}


/* For medium */
@media only screen and (min-width:577px) and (max-width: 768px) {
    h1 {
        font-size: 23px;
    }

    h6 {
        font-size: 11px !important;
    }

    .btn-secondary {
        width: 100px;
        margin: 0px !important;
        font-size: 13px;
        margin-left: 28px !important;
    }

    .container-fluid {
        min-height: 65vh !important;
    }
}


/* For Large*/
@media only screen and (min-width:769px) and (max-width: 1039px) {

    /* .container-fluid {
        min-height: 75vh !important;
    } */
    h1 {
        font-size: 25px;
    }

    h6 {
        font-size: 13px !important;
    }
}


/* For x-Large*/
@media only screen and (min-width:1040px) and (max-width: 1700px) {}