<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mb-5 order-md-1 order-1">
            
            <div class="offset-md-1 col-md-10 col-sm-12 col-sm-6">
                <div class="text">Please fill out the form below to request a quote for a project, inquire about a
                    collaboration, or simply say Hello.</div>

            </div>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="offset-md-1 row mt-4">
                    <div class="col-md-5 col-sm-12">
                        <div class="form-group"
                            [ngClass]="{'has-error': form.get('firstname')?.touched && form.get('firstname')?.invalid}">
                            <!-- <label class="form-group">
                                Name
                            </label> -->
                            <input class="form-control form-control-lg" type="text" formControlName="firstname"
                                placeholder="First Name" />
                            <div *ngIf="form.get('firstname')?.touched && form.get('firstname')?.invalid">
                                <div *ngIf="form.get('firstname')?.errors?.['required']"
                                    style="font-size: 10px; color: brown;">*Required</div>
                                <div *ngIf="form.get('firstname')?.errors?.['minlength']"
                                    style="font-size: 10px; color: brown;">*Must be at least {{
                                    form.get('firstname')?.errors?.['minlength'].requiredLength }} characters long.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-12">
                        <div class="form-group"
                            [ngClass]="{'has-error': form.get('lastname')?.touched && form.get('lastname')?.invalid}">
                            <!-- <label class="form-group"></label> -->
                            <input type="text" class="form-control form-control-lg " formControlName="lastname" required lastname
                                placeholder="Last Name">
                            <div *ngIf="form.get('lastname')?.touched && form.get('lastname')?.invalid">
                                <div *ngIf="form.get('lastname')?.errors?.['required']"
                                    style="font-size: 10px; color: brown;">*Required</div>
                                <div *ngIf="form.get('lastname')?.errors?.['minlength'] "
                                    style="font-size: 10px; color: brown;">*Must be at least {{
                                    form.get('lastname')?.errors?.['minlength'].requiredLength }} characters long.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offset-md-1 row">
                    <div class="col-md-10 col-sm-12">
                        <div class="form-group"
                            [ngClass]="{'has-error': form.get('email')?.touched && form.get('email')?.invalid}">
                            <!-- <label class="form-group">E-mail</label> -->
                            <input type="email" class="form-control form-control-lg" placeholder="E-mail" formControlName="email"
                                aria-label="Recipient's username" name="email" required email>
                            <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
                                <div *ngIf="form.get('email')?.errors?.['required']"
                                    style="font-size: 10px; color: brown;">*Required</div>
                                <div *ngIf="form.get('email')?.errors?.['email']"
                                    style="font-size: 10px; color: brown;">*Invalid email format.</div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="offset-md-1 row">
                    <div class="col-md-10 col-sm-12">
                        <div class="form-group"
                            [ngClass]="{'has-error': form.get('phone')?.touched && form.get('phone')?.invalid}">
                                <input class="form-control form-control-lg" type="text" formControlName="phone"
                                placeholder="Phone [03xx xxxxxxx]" />
                            <div *ngIf="form.get('phone')?.touched && form.get('phone')?.invalid">
                                <div *ngIf="form.get('phone')?.errors?.['required']"
                                    style="font-size: 10px; color: brown;">*Required</div>
                                <div *ngIf="form.get('phone')?.errors?.['pattern']"
                                    style="font-size: 10px; color: brown;">*Invalid Pattern or length</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offset-md-1 row mt-1">
                    <div class="col-md-10 col-sm-12">
                        <div class="form-group"
                            [ngClass]="{'has-error': form.get('subject')?.touched && form.get('subject')?.invalid}">
                            <!-- <label class="form-group">
                                Subject
                            </label> -->
                            <input class="form-control form-control-lg" placeholder="Subject" type="text" formControlName="subject" />
                            <div *ngIf="form.get('subject')?.touched && form.get('subject')?.invalid">
                                <div *ngIf="form.get('subject')?.errors?.['required']"
                                    style="font-size: 10px; color: brown;">*Required</div>
                                <div *ngIf="form.get('subject')?.errors?.['minlength']"
                                    style="font-size: 10px; color: brown;">*Must be at least {{
                                    form.get('subject')?.errors?.['minlength'].requiredLength }} characters long.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offset-md-1 row">
                    <div class="col-md-10 col-sm-12">
                        <div class="form-group">
                            <!-- <label class="form-group">Message</label> -->
                            <textarea type="text" class="form-control form-control-lg mb-3" placeholder="Message" formControlName="message"></textarea>
                            <div *ngIf="form.get('message')?.touched && form.get('message')?.invalid">
                                <div *ngIf="form.get('message')?.errors?.['required']"
                                    style="font-size: 10px; color: brown;">*Required</div>
                                <div *ngIf="form.get('message')?.errors?.['minlength']"
                                    style="font-size: 10px; color: brown;">*Must be at least {{
                                    form.get('message')?.errors?.['minlength'].requiredLength }} characters long.</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="offset-md-1 row mt-4">
                    <div class="col">
                        <button type="submit" class="btn btn-primary"
                            [disabled]="form.invalid || form.pristine">Submit</button>
                    </div>
                </div>
                <div class="offset-2 mt-2" *ngIf="message">
                    <h6 style="font-size: 15px; color: #5EBE80;">{{ message }}</h6>
                </div>
            </form>
        </div>  
        <div class="col-md-6 mb-5 p-3  order-md-2 order-2">
            <div class="card map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3400.3978200722726!2d74.18240961561653!3d31.373147058250497!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3918ff4f2f9ddbbf%3A0xb8a551d63acbc691!2sPalm%20Tower!5e0!3m2!1sen!2sus!4v1653292962159!5m2!1sen!2sus"
                    height='540px ' style="border:0;" allowfullscreen="" loading="lazy">
                </iframe>
            </div>

        </div>
    </div>
</div>