.container-fluid {
    background-color: #000112;
    padding: 25px;
}

.text {
    margin-top: 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: var(--text-color);
}

.form-text {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.15px;
    color: var(--text-color);
}

.has-error input {
    border: 1px solid red;
}



.form-control {
    background-color: var(--text-color);
    border: none;
}

.btn-primary {
    background: #29416F;
    border-radius: 8px;
}

.btn-primary:hover {
    background: #5EBE80;
    border: none;
}

.card {
    border: none;
    background-color: #000112;
}
.col-md-6{
    background-color: var(--background-color);
}

.row.mt-4 {
    color: var(--text-color);
}

.card {
    padding: 50px;
}

/* For x-small */
@media only screen and (min-width:200px) and (max-width:400px) {
    .text {
        font-size: 12px;
    }

    h4 {
        font-size: 14px;
    }

    .card{
        margin-top: 20px;
    }

}
/* For small */
@media only screen and (min-width:401px) and (max-width: 576px) {
    .text {
        font-size: 16px;
    }

    .card{
        margin-top: 20px;
    }
}


/* For medium */
@media only screen and (min-width:577px) and (max-width: 768px) {
    .text {
        font-size: 17px;
    }

    .card{
        margin-top: 20px;
    }
}

@media only screen and (min-width:769px) and (max-width: 830px) {
    .card.second {
        margin-left: 190px !important;
    }
    .text {
        font-size: 20px;
    }
}

@media only screen and (min-width:768px) and (max-width: 1039px) {
    .card{
        margin-top: 50px;
        padding: 0px;
    }
    .text {
        font-size: 22px;
    }
}


/* For x-Large*/
@media only screen and (min-width:1040px) and (max-width: 1300px) {
    
}

@media only screen and (min-width:1300px) and (max-width: 1500px) {
   
}

@media only screen and (min-width:1500px) and (max-width: 1900px) {
    
}