<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mb-5 order-md-1 order-1">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">About Us</h1>
                    <h6 class="card-subtitle mb-3">KS-Technologies is a software development company. Our team of expert
                        developers are skilled in React JS, AWS, Angular, WordPress, Shopify, Block chain, Machine
                        Learning, PMO Department, Python with AI, Web3 Solidity and ROR, allowing us to develop software
                        for a variety of platforms and industries. We are dedicated to provide top-quality software
                        solutions to our clients, and we take pride in delivering software that meets and exceeds their
                        expectations.</h6>
                    <button type="button" routerLink="contact" routerLinkActive="active-link"
                        class="btn btn-secondary">Get in Touch</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5 order-md-2 order-2 p-2 logo">
            <div class="text-center">
                <img src="../../../../../assets/About-us-images/landingPage-LOGO.png" class="float-center"
                    alt="KST-Logo">
            </div>
        </div>
    </div>
</div>