.container-fluid {
    margin-top: 10%;
    margin-bottom: 70px;
    
}

.col-5 {
    margin-top: 10px;
    width: 100%;
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../../../assets/Common/gridBackground.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.card {
    margin-top: 100;
    border: none;
    background-color: transparent;
}

.text {
    max-width: 1055px;
}

.card-title {
    font-weight: 800;
    font-size: 35px;
    margin-left: 40px;
    color: var(--text-color);
}

.card-subtitle {
    margin-top: 20px;
    color: var(--text-color);
    margin-left: 40px;
    font-size: 18px;
}

.btn-secondary {
    margin-top: 10px;
    font-weight: 500;
    border: 2px solid var(--primary-color);
    background-color: transparent;
    color: var(--text-color);
    margin-left: 40px;
    border-radius: 10px 100px / 120px;
    padding: 10px;
    width: 190px;
    transition: 0.5s;
    box-shadow: var(--btn-shadow);
}

.btn-secondary:hover {
    font-weight: 800;
    border: 2px solid var(--text-color);
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    box-shadow: var(--btn-shadow-hover);
}

.float-center {
    max-width: 60%;
}

@media only screen and (max-width: 768px) {
    .float-center {
        max-width: 50%;
    }
}

@media only screen and (min-width:200px) and (max-width:400px) {
    .card-title {
        font-size: 15px !important;
        margin-left: 0%;
    }


    .card-subtitle {
        font-size: 8px !important;
        margin-left: 0%;
    }

    .container-fluid {
        min-height: 0;
    }

    .card {
        padding: 25px
    }

    .btn-secondary {
        width: 90px;
        height: 30px;
        padding: 0%;
        font-size: 8px;
        margin-left: 0%;
    }
}


@media only screen and (min-width:401px) and (max-width: 576px) {
    .card-title {
        font-size: 20px;
        margin-left: 10px;
    }

    .card-subtitle {
        font-size: 11px !important;
        margin-left: 10px;
    }

    .container-fluid {
        min-height: 0;
    }

    .card {
        padding: 25px
    }

    .btn-secondary {
        width: 110px;
        height: 40px;
        font-size: 8px;
        margin-left: 10px;
    }
}

@media only screen and (min-width:577px) and (max-width: 767px) {

    .card-title {
        font-size: 23px;
        margin-left: 28px !important;
    }

    .container-fluid {
        min-height: 0;
    }

    .card {
        padding: 25px
    }

    .card-subtitle {
        font-size: 11px !important;
        margin-left: 28px !important;
    }


    .btn-secondary {
        width: 140px;
        font-size: 13px;
        margin-left: 28px !important;
    }
}

@media only screen and (min-width:925px) and (max-width: 1039px) {
    .order-1 {
        margin-top: 20px;
    }
}

@media only screen and (min-width:768px) and (max-width: 1039px) {

    .card-title {
        font-size: 25px;
    }

    .container-fluid {
        min-height: 80vh;
    }

    .card-subtitle {
        font-size: 13px !important;
    }
}

@media only screen and (min-width:1040px) and (max-width: 1300px) {
    .order-1 {
        padding: 20px;
    }
}


@media only screen and (min-width:1301px) and (max-width: 1800px) {
    .order-1 {
        margin-top: 10px;
        padding: 20px;
    }
}


@media only screen and (min-width:1801px) and (max-width: 2200px) {
    .order-1 {
        margin-top: 30px;
        padding: 20px;
    }
}

@media only screen and (min-width:2201px) and (max-width: 2800px) {
    .order-1 {
        margin-top: 40px;
        padding: 20px;
    }
}