*{
    font-family: 'outfit';
}

:root {
    --backgorund-image: url(./assets/Common/gridBackground.png);
    --background-color: #000112;
    --primary-color: #5EBE80;
    --secondary-color: #053061;
    --text-color: white;
    --secondary-text-color: black;
    --navbar-btn-color: #458b5e;
}

:host {
    font-style: italic;
}
@import "~@fortawesome/fontawesome-free/css/all.css";
@font-face {
    font-family: 'Outfit';
    src: url('../src/assets/Outfit-Font/Outfit-VariableFont_wght.ttf');
}