* {
    font-family: 'outfit';
}

:root {
    --primary-color: #5EBE80;
    --secondary-color: #29416F;
    --text-color: white;
    --black-color: black;
}

:host {
    font-style: italic;
}
/* 
@font-face {
    font-family: 'Outfit';
    src: url('../src/assets/Outfit-Font/Outfit-VariableFont_wght.ttf');
} */